.home-container {
  font-family: "Lato";
  color: var(--primary-txt-clr);

  padding: 30px;
  min-height: 100vh;

  background-color: var(--background-clr);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .tasks-number {
    font-size: 2.5rem;
    margin-bottom: 5px;

    @media (max-width: 800px) {
      font-size: 2rem;
    }
  }

  .completed-number {
    font-size: 2.5rem;

    @media (max-width: 800px) {
      font-size: 2rem;
    }
  }
}
