* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

// Theme
:root {
  --background-clr: white;
  --primary-txt-clr: black;
  --container-bg: #fff7dc;
  --card-bg: #fbb3b3;
  --input-clr: #848484;
}

[data-theme="dark"] {
  --background-clr: black;
  --primary-txt-clr: white;
  --container-bg: #46599e;
  --card-bg: #000;
  --input-clr: #fff;
}

* {
  transition: all 0.3s ease-in-out;
}
